{% extends 'base.html' %}
{% block body %}

<div class="container">
 <div class="row">
  {% for i in movie_list %}
   <div class="col-md-3">
     <div class="card" >
       <img class="card-img-top" src="{{i.img.url}}" alt="Card image cap" width="120px" height="360px">
          <div class="card-body">
           <h5 class="card-title">{{i.name}}</h5>
           <h6 class="card-year">{{i.year}}</h6>
           <a href="{% url 'movieapp:detail' i.id %}" class="btn btn-primary">More...</a>

          </div>
     </div>

   </div>

  {% endfor %}

 </div>
</div>


{% endblock %}
